doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title A HAIR SALON
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    // Place favicon.ico in the root directory

    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/main.css")
    link(rel="stylesheet", href="./css/a-hair-salon.css")
    script(src="./js/modernizr-2.8.3.min.js")
    script(src="./js/jquery-1.11.2.min.js")
    script(src="./js/jquery.flip.min.js")
    script(src="./js/a-hair-salon.js")

  body
    // 100% landing page
    .top-section
      .v-center
        .the-big-a
          img(src="./images/style/logo.png")
        .hair-salon HAIR SALON
        .heads.row
          each val, index in {1: "FREE", 2: "HAIR", 3: "CUT"}
            .heads-icon
              img(src="./images/heads/" + index + ".png")
              span= val
          #slider
    #a-hair-salon-is-just-in-campus
      .title 
        .square
        .sub-title A HAIR SALON IS JUST ON CAMPUS
      .address-section
      // map
      .address-img
        img(src="./images/style/map.png")
      // address
      .address-text
        .address
          del.address-title ADDRESS
          br
          br
          address 3927 ADAMS LANE NE
          address MERCER COURT D-308-E
          address SEATTLE WA 98105
          br
          br
        .email
          del EMAIL
          br
          br
          a#email SUFNV0VOVE9OR0BIT1RNQUlMLkNPTQ==
    // service and price
    #service-and-price
      .title SERVICE AND PRICE?
      .rotate-tag
        span.price-tag FREE
      p.free-cut.
        I am a master student in UW. Hair cutting is my hobby, I hold a certificate on hair styling.
        I do not consider hair cutting as a job, so it is totally free if you come to style your hair.
    #what-i-had-done-before
      .title WHAT I HAD DONE BEFORE
      .showcase
        each row in [0, 1, 2, 3]
          .row.show-arrow
            each col in [1, 2, 3]
              .showbox
                .front
                  img(src="./images/style/" + (row * 3 + col) + ".png")
